.score-showdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.score-number {
  font-size: 64px;
  font-weight: bold;
  background-clip: text;
  color:white;
}

.user-score .score-number {
  background: linear-gradient(90deg, #10b981, #34d399);
  border-radius: 20px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6);
}

.ai-score .score-number {
  background: linear-gradient(90deg, #3b82f6, #60a5fa);
  border-radius: 20px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6);
}

.vs-divider {
  font-size: 64px;
  font-weight: bold;
}

#win-message {
  margin-top: 40px;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.win {
  background: #10b981;
  display: inline-block;
  animation: bounce 0.6s ease;
   
}

.lose {
  background: #ef4444;
}
.btn{
  border: solid black 2px;
  border-radius: 20px;
  background-color: #10b981;
  padding: 5px;
}

@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

@media (max-width: 600px) {
  .score-showdown {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .score-number {
    font-size: 32px;
  }
  .vs-divider {
    font-size: 18px;
  }
}

.result-hidden {
  display: none;
}
